.header__contacts {
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__contacts-list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts-list__item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;

  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-list__icon {
  margin-right: 10px;

  fill: currentColor;
}

.contacts-list__mail {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 21px;
  }
}
.contacts-list__tel {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 21px;
  }
}
.contacts__mail {
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 10px;
  }

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contacts__tel {
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 14px;
  }

  @media screen and (min-width: 1200px) {
    height: 16px;
  }
}
