.menu {
  @extend %header-flex;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu__item:not(:last-child) {
  @extend %header-margin;
}

.menu__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;
  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.link--current {
  color: $accent-color;
  position: relative;
}

.link--current::after {
  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: -1px;
    right: 50%;
    transform: translateX(50%);
    display: block;
    content: '';

    width: 48px;
    height: 4px;

    border-radius: 2px;
    background-color: $accent-color;
  }

  @media screen and (max-width: 1199px) {
    bottom: -2px;
  }
}

.menu__link--border-width::after {
  width: 78px;
}
