%header-flex {
  display: flex;
  align-items: center;
}

%header-margin {
  margin-right: 50px;
}

%modal-focus {
  border-color: $accent-color;
}

%footer-titles {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: $primary-white-color;
}
