.clients__list {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.clients__item {
  height: 92px;

  flex-basis: calc((100% - 30px) / 2);

  &:nth-child(2n + 1) {
    margin-right: 30px;
  }

  &:nth-child(-n + 4) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 2 * 30px) / 3);

    margin-right: 30px;

    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 5 * 30px) / 6);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 1px solid $icon-color;
  border-radius: 4px;
  fill: $icon-color;

  transition: border-color $animation, fill $animation;

  &:hover,
  &:focus {
    border-color: $accent-color;
    fill: $accent-color;
  }
}
