.content__team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  color: $title-text-color;
}

.team {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: $team-card-shadow;
  background-color: #fff;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
}

.content__team-post {
  margin-bottom: 16px;
}
